---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---
Journal Articles
=================

+ **Lingxiang Yao**, Yang Wang, and Xianyong Xiao. Concentrated Solar Power Plant Modeling for Power System Studies. **_IEEE Transactions on Power Systems_**, 2023, 3301996. (Hot Paper, Highly Cited Paper, Top 0.1% of  papers in the academic field, Essential Science Indicators) [PDF](https://doi.org/10.1109/TPWRS.2023.3301996)

+ **Lingxiang Yao**, Xianyong Xiao, Yang Wang, Xiaoming Yao, and Zhicheng Ma. Dynamic Modeling and Hierarchical Control of a Concentrated Solar Power Plant with Direct Molten Salt Storage. **_Energy_**, 2022, 252: 123999. [PDF](https://doi.org/10.1016/j.energy.2022.123999)

+ **Lingxiang Yao**, Xianyong Xiao, Yang Wang, and Wilsun Xu. Adaptive Contactor – A New Scheme to Improve Induction Motor Immunity to Voltage Sags. **_IEEE Transactions on Power Delivery_**, 2021, 36(6): 3360-3370. [PDF](https://doi.org/10.1109/TPWRD.2020.3038947)

+ **Lingxiang Yao**, Zhiwen Guan, Yang Wang, Hongxun Hui, Shuyu Luo, Chuyun Jia, Xingxing You, Xianyong Xiao. Evaluating the feasibility of concentrated solar power as a replacement for coal-fired power in China: A comprehensive comparative analysis. **_Applied Energy_**, 2025, 377: 124396. [PDF](https://doi.org/10.1016/j.apenergy.2024.124396)


<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
 -->


